---
layout: default
title: Notes
permalink: notes/
---

<div class="home">

  <h1 class="post-lang-title">English</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.lang == "en" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="post-lang-title">Deutsch</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.lang == "de" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
